                body {
                    font-family: 'Maven Pro', sans-serif;
                }
                
                .row {
                    margin: 0 !important;
                    padding: 0 !important;
                }
                
                ul.navbar-nav.ml-auto {
                    padding-right: 30px;
                }
                
                .navbar-light .navbar-nav .nav-link {
                    color: rgba(0, 0, 0, .5);
                }
                
                .navbar-light .navbar-nav .active>.nav-link,
                .navbar-light .navbar-nav .nav-link.active,
                .navbar-light .navbar-nav .nav-link.show,
                .navbar-light .navbar-nav .show>.nav-link {
                    color: rgb(40 167 69);
                }
                
                .dropdown-toggle::after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    color: rgb(40 167 69);
                    border-left: .3em solid transparent;
                }
                
                .carousel-caption.d-none.d-md-block {
                    position: absolute;
                    top: 380px;
                }
                
                .carousel-caption.d-none.d-md-block h5 {
                    font-size: 70px;
                    font-weight: bold;
                    font-family: 'Maven Pro', sans-serif;
                }
                
                .carousel-caption.d-none.d-md-block p {
                    font-size: 20px;
                    opacity: .2px;
                }
                
                .carousel-caption.d-none.d-md-block .btn {
                    background-color: rgb(40 167 69);
                    color: #fff;
                    padding: 15px;
                }
                
                .index-section1 {
                    background-color: #f1f3f7;
                    padding: 100px;
                }
                
                .index-subsec1 {
                    background-color: #aee2b0;
                    border: 10px solid #f1f3f7;
                    padding: 58px;
                }
                
                .index-subsec1 h4 {
                    font-family: 'Maven Pro', sans-serif;
                    padding-top: 10px;
                    font-weight: 500;
                }
                
                .index-section2 {
                    padding-top: 50px;
                }
                
                .index-section3 {
                    padding-top: 200px;
                }
                
                .index-section3 h5 {
                    color: rgb(40 167 69);
                }
                
                .index-section3 h4 {
                    margin-top: 10px;
                    letter-spacing: 2px;
                }
                
                .index-section3 h6 {
                    color: gray;
                    letter-spacing: 2px;
                    font-size: 18px;
                    padding-top: 8px;
                    line-height: 30px;
                }
                
                .index-section3 p {
                    color: gray;
                    letter-spacing: 0.5px;
                    padding-top: 8px;
                }
                
                .index-section3 span {
                    color: gray;
                    letter-spacing: 0.5px;
                    line-height: 25px;
                }
                
                .index-section3 img {
                    padding-top: 30px;
                }
                
                .index-section4 .card {
                    width: 18rem;
                }
                
                .index-section4 {
                    background-image: url('images/banner03.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 780px;
                    /* opacity: 0.6; */
                }
                
                .index-section4 h3 {
                    padding-top: 50px;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                }
                
                .index-section4 hr {
                    color: #fff;
                    width: 5%;
                    text-align: center;
                    border-bottom: 3px solid #fff;
                }
                
                .card-title {
                    font-weight: bold;
                    line-height: 30px;
                }
                
                .card-text {
                    color: gray;
                }
                
                .fa {
                    color: rgb(40 167 69);
                }
                
                .card-body a {
                    color: rgb(40 167 69);
                }
                
                .index-section4 .btn {
                    background-color: #fff;
                    color: rgb(40 167 69);
                    font-weight: bold;
                }
                
                .index-section4 .btn:hover {
                    background-color: rgb(40 167 69);
                    color: #fff;
                    font-weight: bold;
                }
                
                .index-section5 {
                    padding: 100px;
                }
                
                .index-section5 h3 {
                    font-weight: bold;
                }
                
                .index-section5 hr {
                    color: #fff;
                    width: 5%;
                    text-align: center;
                    border-bottom: 3px solid rgb(40 167 69);
                }
                
                .index-section7 img {
                    border-bottom: 20px solid white;
                }
                
                .index-section8 {
                    background-image: url('images/banner04.jpg');
                    height: 250px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .index-section9 {
                    padding: 100px;
                    text-align: center;
                }
                
                .index-section9 h2 {
                    color: rgb(40 167 69);
                    font-weight: bold;
                }
                
                .index-section9 p {
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                }
                
                .index-section10 {
                    background-color: #f1f3f7;
                    padding-bottom: 50px;
                }
                
                .index-section11 {
                    padding-top: 100px;
                    padding-bottom: 50px;
                }
                
                .index-section11 h3 {
                    font-weight: bold;
                }
                
                .index-section11 hr {
                    color: #fff;
                    width: 5%;
                    text-align: center;
                    border-bottom: 3px solid rgb(40 167 69);
                }
                
                .index-section12 {
                    border: 10px solid #f1f3f7;
                    background-color: #fff;
                    padding: 10px;
                }
                
                .index-section12 img {
                    width: 159px;
                    margin-left: -15px;
                }
                
                .index-section12 p {
                    color: rgb(40 167 69);
                }
                
                .index-section12 h5:hover {
                    color: rgb(40 167 69);
                }
                
                .index-section13 h6 {
                    color: rgb(40 167 69);
                }
                
                .index-section13 h5 {
                    letter-spacing: 1px;
                }
                
                .index-section13 p {
                    letter-spacing: 1px;
                }
                
                .index-section13 .btn {
                    background: #fff;
                    color: rgb(40 167 69);
                    border: 1px solid rgb(40 167 69);
                }
                
                .index-section13 .btn:hover {
                    background: rgb(40 167 69);
                    color: #fff;
                }
                
                .index-section14 {
                    background: #000;
                    padding: 100px;
                }
                
                .index-section14 h2 {
                    color: #fff;
                }
                
                .index-section14 h2 span {
                    color: rgb(40 167 69);
                }
                
                .index-section14 p {
                    color: #fff;
                    font-size: 19px;
                    letter-spacing: 1px;
                }
                
                .input-group-text {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding: .375rem 2.75rem;
                    margin-bottom: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    background-color: rgb(40 167 69);
                    border: 1px solid rgb(40 167 69);
                    border-radius: 0.25rem;
                }
                
                .form-control {
                    display: block;
                    width: 100%;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 2.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                }
                
                .input-group-text:hover {
                    background-color: darkgreen;
                }
                
                .index-section15 {
                    padding-top: 100px;
                    padding-bottom: 50px;
                }
                
                .index-section15 h3 {
                    font-weight: bold;
                }
                
                .index-section15 hr {
                    color: #fff;
                    width: 5%;
                    text-align: center;
                    border-bottom: 3px solid rgb(40 167 69);
                }
                
                .owl-item>div {
                    cursor: pointer;
                    margin: 6% 8%;
                    transition: margin 0.4s ease;
                }
                
                .owl-item.center>div {
                    cursor: auto;
                    margin: 0;
                }
                
                .owl-item:not(.center)>div:hover {
                    opacity: .75;
                }
                
                .footer-section {
                    background-color: #000;
                    padding-top: 100px;
                    padding-bottom: 50px;
                    padding-left: 50px;
                    padding-right: 50px;
                }
                
                .section-foot p {
                    color: gray;
                    margin-top: 20px;
                }
                
                .section-foot h4 {
                    color: #fff;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
                
                .section-foot li {
                    color: gray;
                    list-style: none;
                    line-height: 30px;
                }
                
                .section-foot a {
                    text-decoration: none;
                    color: green;
                }
                
                .section-foot li:hover {
                    color: rgb(40 167 69);
                }
                
                .input-group-text {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding: .375rem 0.75rem;
                    margin-bottom: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    background-color: rgb(40 167 69);
                    border: 1px solid rgb(40 167 69);
                    border-radius: 0.25rem;
                }
                
                .footer-foot p {
                    color: gray;
                    padding-top: 50px;
                }
                /* bounce efecr banner */
                
                .move-up:hover {
                    background-color: rgb(236, 202, 209);
                    transition: all .5s;
                    transform: translateY(-10px);
                }
                
                --------------------------------------video hover------------------------------- */ .contact-sec1 {
                    background-image: url('images/banner04.jpg');
                    height: 200px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .contact-sec1 h2 {
                    color: #fff;
                    padding: 100px;
                    margin-top: 50px;
                }
                
                .contact-sec2 {
                    padding: 50px;
                }
                
                .contact-sec2 .fa {
                    /* color: rgb(40 167 69 / 7%); */
                    border: 1px solid rgb(40 167 69);
                    padding: 20px;
                    border-radius: 100px;
                    background-color: rgb(40 167 69);
                    color: #fff;
                }
                
                .contact-sec3 {
                    background-color: #ced4da;
                    padding: 100px;
                }
                
                .contact-sec3 h3 {
                    font-weight: bold;
                }
                
                .contact-sec3 hr {
                    color: #fff;
                    width: 5%;
                    text-align: center;
                    border-bottom: 3px solid rgb(40 167 69);
                }
                
                .contact-sec4 {
                    background-color: #fff;
                    padding: 50px;
                }
                
                .contact-sec4 p {
                    text-align: center;
                    color: gray;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                
                .contact-sec4 .form-control {
                    display: block;
                    width: 100%;
                    padding: -0.625rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                }
                
                .contact-sec4 button {
                    margin-top: 30px;
                    margin-left: 450px;
                }
                /* ------------------------------------media query----------------------------- */
                
                @media only screen and (max-width: 600px) {
                    .index-subsec1 {
                        background-color: #aee2b0;
                        border: 10px solid #f1f3f7;
                        padding: 15px;
                    }
                    .index-section3 {
                        padding-top: 22px;
                        position: absolute;
                        width: 93%;
                        /* text-align: center; */
                        padding-left: 42px;
                    }
                    .index-section3 h6 {
                        color: #191818;
                        letter-spacing: 2px;
                        font-size: 18px;
                        padding-top: 8px;
                        line-height: 30px;
                    }
                    .index-section3 p {
                        color: black;
                        letter-spacing: 0.5px;
                        padding-top: 8px;
                    }
                    .index-section3 span {
                        color: #fbf8f4;
                        letter-spacing: 0.5px;
                        line-height: 25px;
                    }
                    .index-section4 {
                        background-image: url(images/banner03.jpg);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 1748px;
                    }
                    .index-section4 .card {
                        width: 21rem;
                    }
                    .index-section8 {
                        background-image: url(images/banner04.jpg);
                        height: 650px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .index-section9 {
                        padding: 0px;
                        text-align: center;
                        margin-top: 83px;
                    }
                    .index-section9 h2 {
                        color: rgb(40 167 69);
                        /* font-weight: bold; */
                        font-size: 18px;
                    }
                    .index-section12 img {
                        width: 345px;
                        margin-left: -15px;
                    }
                    .index-section14 h2 {
                        color: #fff;
                        text-align: center;
                        font-size: 29px;
                    }
                    .index-section14 p {
                        color: #fff;
                        font-size: 13px;
                        letter-spacing: 1px;
                        text-align: center;
                    }
                    .index-section14 {
                        background: #000;
                        padding: 50px;
                    }
                    .form-control {
                        display: block;
                        width: 100%;
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    }
                    .index-section15 {
                        padding-top: 50px;
                        padding-bottom: 50px;
                    }
                    .contact-sec2 {
                        padding: 50px;
                        text-align: center;
                    }
                    .contact-sec4 {
                        background-color: #fff;
                        padding: 0px;
                    }
                    .contact-sec4 button {
                        /* margin-top: 83px; */
                        /* margin-left: 450px; */
                        padding: 10px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-left: 30px;
                    }
                }
                
                @media only screen and (max-width: 375px) {
                    .index-section1 {
                        background-color: #f1f3f7;
                        padding: 66px;
                    }
                    .index-section3 h6 {
                        color: #191818;
                        letter-spacing: 0px;
                        font-size: 15px;
                        padding-top: 0px;
                        line-height: 21px;
                    }
                    .index-section3 p {
                        color: black;
                        letter-spacing: -0.5px;
                        padding-top: 0px;
                    }
                    .index-section3 img {
                        padding-top: 30px;
                        width: 80%;
                    }
                    .index-section4 .card {
                        width: 18rem;
                    }
                    .index-section4 .btn {
                        background-color: #fff;
                        color: rgb(40 167 69);
                        font-weight: bold;
                        margin-top: 85px;
                    }
                    .index-section12 img {
                        width: 294px;
                        margin-left: -15px;
                    }
                }
                
                li.nav-item.dropdown {
                    padding: 0 6px;
                }
                
                li.nav-item.active {
                    padding: 0 10px;
                }
                
                .dropbtn {
                    color: white;
                    font-size: 16px;
                    border: none;
                }
                
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                
                .dropdown-content a:hover {
                    background-color: #ddd;
                }
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
                
                .dropdown:hover .dropbtn {
                    color: green;
                }
                
                .animatable {
                    /* initially hide animatable objects */
                    visibility: hidden;
                    /* initially pause animatable objects their animations */
                    -webkit-animation-play-state: paused;
                    -moz-animation-play-state: paused;
                    -ms-animation-play-state: paused;
                    -o-animation-play-state: paused;
                    animation-play-state: paused;
                }
                /* show objects being animated */
                
                .animated {
                    visibility: visible;
                    -webkit-animation-fill-mode: both;
                    -moz-animation-fill-mode: both;
                    -ms-animation-fill-mode: both;
                    -o-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-duration: 1s;
                    -moz-animation-duration: 1s;
                    -ms-animation-duration: 1s;
                    -o-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-play-state: running;
                    -moz-animation-play-state: running;
                    -ms-animation-play-state: running;
                    -o-animation-play-state: running;
                    animation-play-state: running;
                }
                /* CSS Animations (extracted from http://glifo.uiparade.com/) */
                
                @-webkit-keyframes fadeInDown {
                    0% {
                        opacity: 0;
                        -webkit-transform: translateY(-20px);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                    }
                }
                
                @-moz-keyframes fadeInDown {
                    0% {
                        opacity: 0;
                        -moz-transform: translateY(-20px);
                    }
                    100% {
                        opacity: 1;
                        -moz-transform: translateY(0);
                    }
                }
                
                @-o-keyframes fadeInDown {
                    0% {
                        opacity: 0;
                        -o-transform: translateY(-20px);
                    }
                    100% {
                        opacity: 1;
                        -o-transform: translateY(0);
                    }
                }
                
                @keyframes fadeInDown {
                    0% {
                        opacity: 0;
                        transform: translateY(-20px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                
                @-webkit-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    20% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                @-moz-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    20% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                @-o-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    20% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    60% {
                        opacity: 0;
                    }
                    20% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                
                @-webkit-keyframes bounceInLeft {
                    0% {
                        opacity: 0;
                        -webkit-transform: translateX(-2000px);
                    }
                    60% {
                        -webkit-transform: translateX(20px);
                    }
                    80% {
                        -webkit-transform: translateX(-5px);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                    }
                }
                
                @-moz-keyframes bounceInLeft {
                    0% {
                        opacity: 0;
                        -moz-transform: translateX(-2000px);
                    }
                    60% {
                        -moz-transform: translateX(20px);
                    }
                    80% {
                        -moz-transform: translateX(-5px);
                    }
                    100% {
                        opacity: 1;
                        -moz-transform: translateX(0);
                    }
                }
                
                @-o-keyframes bounceInLeft {
                    0% {
                        opacity: 0;
                        -o-transform: translateX(-2000px);
                    }
                    60% {
                        opacity: 1;
                        -o-transform: translateX(20px);
                    }
                    80% {
                        -o-transform: translateX(-5px);
                    }
                    100% {
                        opacity: 1;
                        -o-transform: translateX(0);
                    }
                }
                
                @keyframes bounceInLeft {
                    0% {
                        opacity: 0;
                        transform: translateX(-2000px);
                    }
                    60% {
                        transform: translateX(20px);
                    }
                    80% {
                        transform: translateX(-5px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                
                @-webkit-keyframes bounceInRight {
                    0% {
                        opacity: 0;
                        -webkit-transform: translateX(2000px);
                    }
                    60% {
                        -webkit-transform: translateX(-20px);
                    }
                    80% {
                        -webkit-transform: translateX(5px);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                    }
                }
                
                @-moz-keyframes bounceInRight {
                    0% {
                        opacity: 0;
                        -moz-transform: translateX(2000px);
                    }
                    60% {
                        -moz-transform: translateX(-20px);
                    }
                    80% {
                        -moz-transform: translateX(5px);
                    }
                    100% {
                        opacity: 1;
                        -moz-transform: translateX(0);
                    }
                }
                
                @-o-keyframes bounceInRight {
                    0% {
                        opacity: 0;
                        -o-transform: translateX(2000px);
                    }
                    60% {
                        -o-transform: translateX(-20px);
                    }
                    80% {
                        -o-transform: translateX(5px);
                    }
                    100% {
                        opacity: 1;
                        -o-transform: translateX(0);
                    }
                }
                
                @keyframes bounceInRight {
                    0% {
                        opacity: 0;
                        transform: translateX(2000px);
                    }
                    60% {
                        transform: translateX(-20px);
                    }
                    80% {
                        transform: translateX(5px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                
                @-webkit-keyframes fadeInUp {
                    0% {
                        opacity: 0;
                        -webkit-transform: translateY(20px);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                    }
                }
                
                @-moz-keyframes fadeInUp {
                    0% {
                        opacity: 0;
                        -moz-transform: translateY(20px);
                    }
                    100% {
                        opacity: 1;
                        -moz-transform: translateY(0);
                    }
                }
                
                @-o-keyframes fadeInUp {
                    0% {
                        opacity: 0;
                        -o-transform: translateY(20px);
                    }
                    100% {
                        opacity: 1;
                        -o-transform: translateY(0);
                    }
                }
                
                @keyframes fadeInUp {
                    0% {
                        opacity: 0;
                        transform: translateY(20px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                
                @-webkit-keyframes bounceIn {
                    0% {
                        opacity: 0;
                        -webkit-transform: scale(.3);
                    }
                    50% {
                        -webkit-transform: scale(1.05);
                    }
                    70% {
                        -webkit-transform: scale(.9);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: scale(1);
                    }
                }
                
                @-moz-keyframes bounceIn {
                    0% {
                        opacity: 0;
                        -moz-transform: scale(.3);
                    }
                    50% {
                        -moz-transform: scale(1.05);
                    }
                    70% {
                        -moz-transform: scale(.9);
                    }
                    100% {
                        opacity: 1;
                        -moz-transform: scale(1);
                    }
                }
                
                @-o-keyframes bounceIn {
                    0% {
                        opacity: 0;
                        -o-transform: scale(.3);
                    }
                    50% {
                        -o-transform: scale(1.05);
                    }
                    70% {
                        -o-transform: scale(.9);
                    }
                    100% {
                        opacity: 1;
                        -o-transform: scale(1);
                    }
                }
                
                @keyframes bounceIn {
                    0% {
                        opacity: 0;
                        transform: scale(.3);
                    }
                    50% {
                        transform: scale(1.05);
                    }
                    70% {
                        transform: scale(.9);
                    }
                    100% {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                
                @-webkit-keyframes moveUp {
                    0% {
                        opacity: 1;
                        -webkit-transform: translateY(40px);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                    }
                }
                
                @-moz-keyframes moveUp {
                    0% {
                        opacity: 1;
                        -moz-transform: translateY(40px);
                    }
                    100% {
                        opacity: 1;
                        -moz-transform: translateY(0);
                    }
                }
                
                @-o-keyframes moveUp {
                    0% {
                        opacity: 1;
                        -o-transform: translateY(40px);
                    }
                    100% {
                        opacity: 1;
                        -o-transform: translateY(0);
                    }
                }
                
                @keyframes moveUp {
                    0% {
                        opacity: 1;
                        transform: translateY(40px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                
                @-webkit-keyframes fadeBgColor {
                    0% {
                        background: none;
                    }
                    70% {
                        background: none;
                    }
                    100% {
                        background: #464646;
                    }
                }
                
                @-o-keyframes fadeBgColor {
                    0% {
                        background: none;
                    }
                    70% {
                        background: none;
                    }
                    100% {
                        background: #464646;
                    }
                }
                
                @keyframes fadeBgColor {
                    0% {
                        background: none;
                    }
                    70% {
                        background: none;
                    }
                    100% {
                        background: #464646;
                    }
                }
                
                .animated.animationDelay {
                    animation-delay: .4s;
                    -webkit-animation-delay: .4s;
                }
                
                .animated.animationDelayMed {
                    animation-delay: 1.2s;
                    -webkit-animation-delay: 1.2s;
                }
                
                .animated.animationDelayLong {
                    animation-delay: 1.6s;
                    -webkit-animation-delay: 1.6s;
                }
                
                .animated.fadeBgColor {
                    -webkit-animation-name: fadeBgColor;
                    -moz-animation-name: fadeBgColor;
                    -o-animation-name: fadeBgColor;
                    animation-name: fadeBgColor;
                }
                
                .animated.bounceIn {
                    -webkit-animation-name: bounceIn;
                    -moz-animation-name: bounceIn;
                    -o-animation-name: bounceIn;
                    animation-name: bounceIn;
                }
                
                .animated.bounceInRight {
                    -webkit-animation-name: bounceInRight;
                    -moz-animation-name: bounceInRight;
                    -o-animation-name: bounceInRight;
                    animation-name: bounceInRight;
                }
                
                .animated.bounceInLeft {
                    -webkit-animation-name: bounceInLeft;
                    -moz-animation-name: bounceInLeft;
                    -o-animation-name: bounceInLeft;
                    animation-name: bounceInLeft;
                }
                
                .animated.fadeIn {
                    -webkit-animation-name: fadeIn;
                    -moz-animation-name: fadeIn;
                    -o-animation-name: fadeIn;
                    animation-name: fadeIn;
                }
                
                .animated.fadeInDown {
                    -webkit-animation-name: fadeInDown;
                    -moz-animation-name: fadeInDown;
                    -o-animation-name: fadeInDown;
                    animation-name: fadeInDown;
                }
                
                .animated.fadeInUp {
                    -webkit-animation-name: fadeInUp;
                    -moz-animation-name: fadeInUp;
                    -o-animation-name: fadeInUp;
                    animation-name: fadeInUp;
                }
                
                .animated.moveUp {
                    -webkit-animation-name: moveUp;
                    -moz-animation-name: moveUp;
                    -o-animation-name: moveUp;
                    animation-name: moveUp;
                }